<a href="https://colab.research.google.com/github/Adetoro123/PROJECTS/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
We have 2 types of functions In programming

Functions that perform a task(and print on terminal) and functions that calculate and return a value



#Required Parameter

def greet(first_name,last_name):
  print(f"Hi {first_name} {last_name}")
  print("Welcome On board") #print on the terminal

In [ ]:
greet("Adetoro", "Adedeji")

Hi Adetoro Adedeji
Welcome On board
None

In [ ]:
# I can rewrite the greet function to return a value
#in case you want to send this message in an email or write it in a file 

def get_greeting(name):
  return (f"Hi  {name}") #format string

  #get_greeting("Adetoro")
   # because it returns a value, you can store that value in a separate variable name called "message"
  var_name = get_greeting("Adetoro")
  print(message)

In [ ]:
file = open("content.txt", "w")
file.write(var_name)

11

In [ ]:
var_name = get_greeting("Adetoro")
print(var_name)

Hi  Adetoro

In [ ]:
# In python, all functiosn by default return the None value. None means absence of a value
print(greet("Adetoro", "Adedeji"))

Hi Adetoro Adedeji
Welcome On board
None

In [ ]:
def increment (number,by):
  return number + by
result= increment (3,1)
print(result)  
#or
print(increment (3,1)) 
#to make your code more readable, you can use a keyword argument
print(increment (3,by=1))

4
4
4

In [ ]:
# ensure that all optional parameters are added after the required
def increment (number,multiply,by=1):
  return (number*multiply ) + by
result= increment (3,3)
print(result)

10

In [ ]:
def increment (number,multiply,by=1):
  return (number*multiply ) + by
result= increment (3,3,2)
print(result)

11

In [ ]:
# You cannot add more element to a tuple ie it is immutable 
#but tuple is iterable, which means you can use them in loops
# it is similar to a list in that it is a collection of objects

##In case I want to pass parameter>1 argein argument
def multiply(*numbers):
  print(numbers)

multiply (5,2,3)

(5, 2, 3)

In [ ]:
def multiply(*figures):
  for figure in figures:
    print (figure)


multiply (5,2,3)

5
2
3

In [ ]:
def multiply(*figures):
  total = 1
  for figure in figures:
    total = total * figure
    #or 
    #total *= figure (augmented assignment operator)
  return total

multiply (5,2,3)

30

In [ ]:
** is for multiple keyword arguments and python will automatically package them into a dictionary(an object type/data structure)
def save_user(**user):
  print(user)

save_user (id=1,name="John",age="22")

{'id': 1, 'name': 'John', 'age': '22'}

In [ ]:
def save_user(**user):
  print(user["id"])

save_user (id=1,name="John",age="22")

1

In [ ]:
#global variable stays longer in the interpreter
#avoid global variables as much as you can
#and if you have to set a global variable, then you avoid changing/resetting it in a function else it
# will disrupt every other instances where the global variabkle has been called

In [ ]:
# if input is divisble by 3, it will return fizz
# if input is divisble by 5, it will return buzz
# if input is divisble by 3 and 5, it will return fizzBuzz
# if input is neither divisible by 3 / 5, then it will return the number

In [ ]:
def fizz_buzz(input):
  if input%3==0:
    result = "Fizz"
  else:
    result = "Buzz"
  return result

print(fizz_buzz(5))

Buzz

In [ ]:
#to optimize your code, do this
def fizz_buzz(input):
  if input%3==0:
    return "Fizz"
  else:
    return  "Buzz"

print(fizz_buzz(5))

Buzz

In [ ]:
#to optimize your code, do this
def fizz_buzz(input):
  if input%3==0:
    return "Fizz"
  else:
    return  "Buzz"

print(fizz_buzz(5))

In [23]:
def fizz_buzz(input):
  if input%3==0 and input%5==0:
    return "fizzbuzz" 
  if input%3==0:
    return "fizz"
  if input%5==0:
    return"buzz"
 
  return input

print(fizz_buzz(15))

fizzbuzz

In [ ]:
i=7

while i<=10:
  print(i)
  i=i+1

7
8
9
10

In [ ]:
i=7

while i<=10:
  i=i+1
  print(i)

8
9
10
11

In [ ]:
i=7

while i<=10:
  i=i+1
print(i)

11

In [1]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [3]:
a =5; b = 3.2 ;  c="Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [4]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

In [ ]:
Write a function that calculates the floor division of the following mathematical expression ((x+12)^2-y^3)) by 9

In [27]:
def floor_div(x,y,z=9):
  return (((x+12)**2 -(y)**3 )) // z

In [28]:
result=floor_div(2,4)
print(result)

14

In [26]:
2**2

4

In [31]:
x=8
  
not(x < 5 and x < 10)

True

In [32]:
str1 = "Welcome to "
str2 ="coding world!"
print("str1 + str2 = ", str1 + str2)     #str1 + str2 =  Welcome to coding world!

str1 + str2 =  Welcome to coding world!

In [34]:
str1 = "Welcome to "
str2 ="coding world!"
print(str1 + str2)     #str1 + str2 =  Welcome to coding world!

Welcome to coding world!

Write a Python program which gets two strings and return a string made of the three first characters of each string.

In [50]:
def get_string(a,b):
  a=str(a);b=str(b)
  return a[0:3]+b[0:3]

result=get_string("Coding","World")
print(result)

CodWor

In [47]:
q="coding"
print(q[0:3])

cod

In [44]:
my_string = "Welcome to python"
print("my_string[0] = ", my_string[0])  #first character                my_string[0] =  W
print("my_string[-1] = ", my_string[-1]) #last character               my_string[-1] =  n

my_string[0] =  W
my_string[-1] =  n

In [45]:
print(my_string[0])

W

In [1]:
x = (2>5) == (3==6)
if x :
    print('x is True')
else:
    print('x is not True')

x is True

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [6]:
for i in range(1,20,2):
  i=i+1
print(i)

20

In [ ]:
sum = 0 
i = 1 # initialize sum and counter

while i <= n:
    sum = sum + i
    i = i+1    # update counter

print("The sum is", sum) # print the sum

In [8]:
sum = 0 
i = 1 # initialize sum and counter
n=2
while i <= n:
    sum = sum + i
    i = i+1    # update counter

print("The sum is", sum) # print the sum

The sum is 3

In [3]:
for i in range(5):
  print (i)

0
1
2
3
4

In [18]:
#Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

def users_name(first_name,last_name):
  first_name=str(first_name)
  last_name=str(last_name)
  return first_name + last_name
result=users_name("adetoro","adedeji")

In [19]:
print(result)

adetoroadedeji

In [21]:
def users_name(first_name,last_name):
  first_name=str(first_name)
  last_name=str(last_name)
  return f"{last_name} {first_name}"
print(users_name("adetoro","adedeji"))

adedeji adetoro

In [ ]:
##Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn
##Sample value of n is 5 
#Expected Result : 615 (5+55+555)

In [36]:
def number_program(n):
  n=str(n)
  nn=2*n
  nnn=3*n
  return int(n)+int(nn)+int(nnn)
print(number_program(5))

615

In [33]:
def number_program(n):
  n=str(n)
  nnn=3*n
  return nnn
print(number_program(5))

555

In [39]:
#Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

def is_even_odd(input):
  input=int(input)
  if input%2==0:
    return f"The inputed number is even"
  return f"The inputed number is odd"

print(is_even_odd(11))

The inputed number is odd

In [30]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). 
#The numbers obtained should be printed in a sequence on a single line.

#Hints: Consider use range(#begin, #end) method 
                          
def divisible_by_7 (j,k):
  j==2000
  k==3201
  
  for i in range(j,k+1):
    if i%7==0 and i%5!=0:

  
      print(divisible_by_7(i))

In [ ]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). 
#The numbers obtained should be printed in a sequence on a single line.

#Hints: Consider use range(#begin, #end) method 

for x in range(2000 , 3201): #This will start the loop from 2000 till 3200 because the range function goes till x-1 (In this case 3201 - 1)

  if x % 7 == 0 and x % 5 != 0 : #This satisfies the given requirements

    print(x)

In [5]:
#Write a program that can compute the factorial of a given number. The results should be printed in a sequence on a single line. 
#Suppose the following input is supplied to the program: 8 Then, the output should be: 40320 

#Hint: The factorial function (symbol: !) multiplies all whole numbers from our chosen number down to 1. Examples: 

#4! = 4 × 3 × 2 × 1

#8! = 8 × 7 × 6 × 5 × 4 × 3 × 2 × 1

#1! = 1

#0! = 1 (by convention

def factorial(n):
  j = 1
  for i in range(1, n+1):
      j = j * i
  return j

number = int(input("Type a number: "))
print(factorial(number))

Type a number: 8
40320

In [40]:
#Write a program to remove the characters which have odd index values of a given string.

#for example: string ="hello team"

#the result should be: hlota

def odd_index (n):
  result=""
  for i in range(len(n)):
    if i % 2 ==0 :
       result = result  + n[i]  
  return result
print(odd_index("adetoro"))

aeoo

In this challenge, you must discount a price according to its value.

- If the price is 500 or above, there will be a 50% discount.

- If the price is between 200 and 500 (200 inclusive), there will be a 30% discount.

- If the price is less than 200, there will be a 10% discount.

In [51]:
def discount(n):
  n=int(n)
  if n >0:

    if n<200:
      result = n-0.1*n
    elif n >=200 and n < 500:
      result= n-0.3*n
    if n >= 500:
      result = n-0.5*n
    return result
  return "Invalid amount"


number = int(input("Price of Commodity:"))
#int(input("Type a number: "))
print(discount(number))

Price of Commodity:0
Invalid amount

In [63]:
my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}
for key in my_dictionary.keys():     # Loop Through dictionary keys
     print(key)

knowledge
tool
year

In [61]:
my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}
for value in my_dictionary.values():    #  Loop Through dictionary values
     print(value)

Data Science
python
2020

In [62]:
for item in my_dictionary.items():     # Loop Through dictionary items
      print(item)

('knowledge', 'Data Science')
('tool', 'python')
('year', 2020)

In [64]:
print(len(my_dictionary))     #3

3

Dictionaries can also be created with the built-in function dict(**kwarg). This function takes an arbitrary number of keywords arguments (arguments preceded by an identifier kwarg=value) as input
create a dictionary using another dictionary in combination with keyword arguments (dict(mapping, **kwarg))

In [ ]:
students_ages = dict({'Amanda': 27, 'Teresa': 38}, Paula=17, Mario=40)

print(students_ages)

In [ ]:
#create a dictionary with dict() function using an iterable (list of tuples)
students_ages = dict([('Amanda', 27), ('Teresa', 38), ('Paula', 17), ('Mario', 40)])

print(students_ages)

we can create a dictionary using two lists. First, we have to build an iterator of tuples using zip(*iterables) function. Then, we employ the dict([iterable, **kwarg]) function to construct the dictionary

In [65]:
# create a dictionary using two list
students = ['Amanda', 'Teresa', 'Paula', 'Mario']
ages = [27, 38, 17, 40]

# zip method --> iterator of tuples --> dict method --> dictionary
students_ages = dict(zip(students, ages))

print(students_ages)

{'Amanda': 27, 'Teresa': 38, 'Paula': 17, 'Mario': 40}

In [70]:
students_ages = dict([('Amanda', 27), ('Teresa', 38), ('Paula', 17), ('Mario', 40)])

print(students_ages.get('Amanda','not found'))

27

In [71]:
students_ages = dict([('Amanda', 27), ('Teresa', 38), ('Paula', 17), ('Mario', 40)])

print(students_ages.get('dayo','not found'))

not found

In [74]:
students_ages = dict([('Amanda', 27), ('Teresa', 38), ('Paula', 17), ('Mario', 40)])

print(students_ages.get('Amanda'))

# notice the square bracket call diference
print(students_ages['Amanda'])

27
27

In [ ]:
students_ages = dict([('Amanda', 27), ('Teresa', 38), ('Paula', 17), ('Mario', 40)])

print(students_ages.get('Amanda','not found'))  #27

the below will give a key error
print(students_ages['dayo'])

In [ ]:
# add shelf and sofa to the products dictionary using another dictionary object
products.update({'shelf': 70, 'sofa': 300})

print(products)
#{'table': 120, 'chair': 40, 'lamp': 14, 'bed': 250, 'mattress': 100, 'pillow': 10, 'shelf': 70, 'sofa': 300}

# add three new items to the grades dictionary using keyword arguments
grades.update(Violeta=5.5, Marco=6.5, Paola=8)

print(grades)
# {'Alba': 9.5, 'Eduardo': 10, 'Normando': 3.5, 'Helena': 6.5, 'Claudia': 7.5, 'Violeta': 5.5, 'Marco': 6.5, 'Paola': 8}

# add two cities to the population dictionary using a list of tuples
population.update([('Stuttgart', 632743), ('Dusseldorf', 617280)])

print(population)
# {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'Stuttgart': 632743, 'Dusseldorf': 617280}

In [ ]:
# increase the price of a sofa 100 units
print(products)
# {'table': 120, 'chair': 40, 'lamp': 14, 'bed': 250, 'mattress': 100, 'pillow': 10, 'shelf': 70, 'sofa': 300}

products['sofa'] = 400

print(products)
#{'table': 120, 'chair': 40, 'lamp': 14, 'bed': 250, 'mattress': 100, 'pillow': 10, 'shelf': 70, 'sofa': 400}

# modify the grades of two students
print(grades)
# {'Alba': 9.5, 'Eduardo': 10, 'Normando': 3.5, 'Helena': 6.5, 'Claudia': 7.5, 'Violeta': 5.5, 'Marco': 6.5, 'Paola': 8}

grades.update({'Normando': 2.5, 'Violeta': 6})

print(grades)
#{'Alba': 9.5, 'Eduardo': 10, 'Normando': 2.5, 'Helena': 6.5, 'Claudia': 7.5, 'Violeta': 6, 'Marco': 6.5, 'Paola': 8}

In [3]:

population = {'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'Stuttgart': 632743, 
'Dusseldorf': 617280}
print(population)
# key does not exists

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'Stuttgart': 632743, 'Dusseldorf': 617280}

In [8]:
#del population['Ingolstadt']
# KeyError
# key exists
# the element dusseldorf is removed
del population['Dusseldorf']

print(population)
#{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'Stuttgart': 632743}

{'Berlin': 3748148, 'Hamburg': 1822445, 'Munich': 1471508, 'Cologne': 1085664, 'Frankfurt': 753056, 'Stuttgart': 632743}

In [14]:
population.pop('Ingolstadt', 'not found')

'not found'

In [ ]:
import copy

# dictionary with students heights and weights
students_weights = {'Marco': [173, 70], 'Luis': [184, 80], 'Andrea': [168, 57]}

# create a deep copy
students_weights_2 = copy.deepcopy(students_weights)

# modify the height of luis in the shallow copy 
students_weights_2['Luis'][0] = 180

# the modification in students_weights_2 is NOT observed in students_weights 
# since we are working with a deep copy

print(students_weights)
# {'Marco': [173, 70], 'Luis': [184, 80], 'Andrea': [168, 57]}

print(students_weights_2)
# {'Marco': [173, 70], 'Luis': [180, 80], 'Andrea': [168, 57]}

In [16]:

population= {'Berlin': 4, 'Hamburg': 5, 'Munich': 6, 'Cologne': 5, 'Frankfurt': 10}

In [27]:
# iterate through values using dict.values() method
inhabitants = 0
for number in population.values():
    #inhabitants += number
  inhabitants= inhabitants+number
  
    

# total number of inhabitants
print(inhabitants)

30